.container {
    padding: 40px 0px;
}
.feedback-form {
  background: #177d72;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 1250px;
  margin: 0px auto;
  color: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}

.form-title {
  padding-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #f6a725;
  text-align: center;
}

.form-group {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 6px;
  font-weight: 600;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  font-size: 15px;
  background: #ffffffdd;
}

input:focus,
textarea:focus {
  border-color: #f6a725;
  background: white;
}

.error {
  color: #f6a725;
  font-size: 13px;
  margin-top: 3px;
  font-weight: bold;
}

.submit-btn {
  width: 100%;
  background: #02041A;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #333;
}

/* Modal */
.f-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.f-modal-box {
  background: white;
  width: 90%;
  max-width: 400px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  animation: popIn 0.25s ease;
}

.f-modal-box h3 {
  color: #177d72;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.close-btn {
  margin-top: 15px;
  background: #177d72;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  background: #0f5b52;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes popIn {
  from { transform: scale(0.85); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}
