.nav {
  width: 100%;
  background: #02041a;
  padding: 20px 0;
  color: white;
}

.nav-container {
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-logo {
  width: 150px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

a {
  cursor: pointer;
  padding-bottom: 5px;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00a37a;
}

a.active {
  color: #00a37a;
  border-bottom: 4px solid #f5a623;
}


.nav-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.badge {
  background-color: #00a37a;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.desktop-only {
  display: flex;
}
.mobile-only {
  display: none;
}


.hamburger {
  font-size: 30px;
  cursor: pointer;
  color: white;
}


@media (max-width: 992px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
  }

  .nav-container {
    padding: 0 20px;
  }
}


.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 260px;
  height: 100vh;
  background: #02041a;
  color: white;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

.mobile-menu.open {
  right: 0;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.mobile-links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-link {
  font-size: 20px;
  cursor: pointer;
}

.mobile-link.active {
  color: #00a37a;
  border-bottom: 3px solid #f5a623;
  width: fit-content;
}

.mobile-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}
